.btn-agregar-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 12px;

    width: 252px;
    
    position: absolute;
    right: 3.11%;
    top: 86.74%;
    bottom: 5.46%;
    
    color: #000;

    background-color: #68D7E0;

    border: 1px;

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 19px;

    cursor: pointer;
}

/*                               REUTILIZAR CODIGO PARA CADA PAG CON TITULO DIF */

.div-p-titulo-img{
    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: 81px;
    width: 1186px;

    background-color: #fff;
    box-shadow: 0px 4px 15px rgba(202, 193, 193, 0.45);

    position: relative;
    top: -352px;
    left: 252px;
}

.p-titulo-img{
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #68D7E0;
}

@media all and (min-width: 1560px){
    .div-p-titulo-img{
        width: 1665px;
    }
}