@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Work+Sans:wght@600&display=swap');

/*
    font-family: 'Poppins', sans-serif;

    font-family: 'Work Sans', sans-serif;
*/


.datos-cargar-receta{
    position: absolute;
    top: 325px;
    left: 195px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 1058px;
    height: 605px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    padding-top: 36px;
    padding-left: 67px;
}

.btn-agregar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 12px;
    
    position: absolute;
    left: 80.09%;
    right: 3.11%;
    top: 86.74%;
    bottom: 5.46%;
    
    color: #000;

    background-color: #68D7E0;

    border: 1px;

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 19px;

    cursor: pointer;
}

.btn-agregar-ingre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 12px;

    width: 252px;
    
    position: absolute;
    right: 3.11%;
    top: 86.74%;
    bottom: 5.46%;
    
    color: #000;

    background-color: #68D7E0;

    border: 1px;

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 19px;

    cursor: pointer;
}

.datos-cargar-receta .btn-agregar-sin-fondo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 12px;
    
    position: absolute;
    left: 80.09%;
    right: 3.11%;
    top: 86.74%;
    bottom: 5.46%;
    
    color: #68D7E0;

    background: none;

    border: 1px;

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;

    cursor: pointer;
}

/*                 TITULOS COD. REUTILIZABLE            */

.titulo-cargar-receta{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #383838;

    margin-bottom: 10px;
}

.input-nombre-receta{
    width: 583px;
    height: 38px;

    margin-bottom: 20px;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.input-nombre-receta::placeholder {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;

    position: relative;
    left: 5px;
}

.input-nombre-receta:optional {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;

    
}

/*             CONTADOR                */

.contador{
    width: 140px;
    height: 38px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    background-color: #ffffff;
    box-shadow: 0px 3px 3px 1px #c4c4c4;
    
    border: 1px;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    margin-bottom: 30px;
}

.contador p{
    
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #383838;


    position: relative;
    top: 0px;
}

.contador button{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;

    color: #383838;

    padding: 3px;
    margin-left: 20px;
    margin-right: 20px;

    background: none;

    border: none;
}


/*                 OPTION Y SELECT ---- TIEMPO RECETA                 */

.input-tiempo-receta{
    display: inline;

    width: 140px;
    height: 38px;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.input-tiempo-receta::placeholder{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    color: #383838;

    position: relative;
    left: 15px;
}

.select-tiempo-receta{
    display: inline;

    width: 120px;
    height: 38px;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    position: relative;
    top: -41px;
    left: 155px;
}

.select-tiempo-receta:optional{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    color: #383838;
}