
.datos-ingresar-ingredientes{
    position: absolute;
    top: 317px;
    left: 199px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 1058px;
    height: 605px;
    
    background: #FFFFFF;
    /*box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);*/
    border-radius: 4px;

    padding-top: 36px;
    padding-left: 67px;
}

.ingresar-ingredientes-receta{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #383838;

    margin-bottom: 10px;
}

.select-ingresar-ingrediente{
    width: 583px;
    height: 38px;

    margin-bottom: 20px;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn-agregar-sin-fondo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 12px;
    
    position: absolute;
    left: 80.09%;
    right: 3.11%;
    top: 86.74%;
    bottom: 5.46%;
    
    color: #68D7E0;

    background: none;

    border: 1px;

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;

    cursor: pointer;
}


/*                               REUTILIZAR CODIGO PARA CADA PAG CON TITULO DIF */

.div-p-titulo-ingre{
    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: 81px;
    width: 1186px;

    background-color: #fff;
    /*box-shadow: 0px 4px 15px rgba(202, 193, 193, 0.45);*/

    position: relative;
    top: -188px;
    left: 252px;
}

.p-titulo-ingre{
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #68D7E0;
}

@media all and (min-width: 1560px){
    .div-p-titulo-ingre{
        width: 1665px;
    }
}