.cont-btns-x2{
    display: inline;

    position: relative;
    left: 1030px;
    top: 35px;
}

.btnsx2{
    display: inline;
    
}

.btnsx2 img{
    width: 213px;
    height: 70px;
    margin-right: -40px;
    cursor: pointer;

}

@media all and (min-width: 1560px){
    .cont-btns-x2{
        left: 1500px;
    }
}