@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

.footer{

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
}

.footer p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}