@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.cont-crearr-flex{
}

.menu-secundario{
    position: relative;
    top: 0px;
    left: 411px;
}

.cont-crearr-flex .datos{
    position: absolute;
    top: 195px;
    left: 200px;
    display: flex;
    width: 1100px;
    height: 620px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 25%);
    border-radius: 4px;
    flex-direction: column;
    align-items: center;
}

.btn-agregar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 12px;
    
    position: absolute;
    left: 80.09%;
    right: 3.11%;
    top: 86.74%;
    bottom: 5.46%;
    
    /* Primario/Planner */
    
    background: #68D7E0;
    border-radius: 4px;
    
}

/*                               REUTILIZAR CODIGO PARA CADA PAG CON TITULO DIF */

.div-p-titulo{
    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: 81px;
    width: 1187px;

    background-color: #fff;
    box-shadow: 0px 4px 15px rgba(202, 193, 193, 0.45);

    position: relative;
    top: -2px;
    left: 1px;
}

.p-titulo{
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #68D7E0;
}