@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.cont-crearr-flex{
}

.menu-secundario{
    display: inline;
    position: relative;
    top: 100px;
    left: 411px;
}

.menu-secundario button{
    width: 128px;
    height: 80px;
    margin-right: 16px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;

    border-style: none;
    /*cursor: pointer;*/
}

.menu-secundario button img{
    left: -24px;
    width: 160px;
    height: 100px;
    position: relative;
    top: -13px;
}

.cont-crearr-flex .datos{
    position: absolute;
    top: 317px;
    left: 200px;
    display: flex;
    width: 1125px;
    height: 641px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 25%);
    border-radius: 4px;
    flex-direction: column;
    align-items: center;
}

.btn-agregar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 12px;
    
    position: absolute;
    left: 80.09%;
    right: 3.11%;
    top: 86.74%;
    bottom: 5.46%;
    
    /* Primario/Planner */
    
    background: #68D7E0;
    border-radius: 4px;
    
}

/*                               REUTILIZAR CODIGO PARA CADA PAG CON TITULO DIF */

.div-p-titulo{
    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: 81px;
    width: 1187px;

    background-color: #fff;
    box-shadow: 0px 4px 15px rgba(202, 193, 193, 0.45);

    position: relative;
    top: -2px;
    left: 1px;
}

.p-titulo{
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #68D7E0;
}

@media all and (min-width: 1560px){
    .div-p-titulo{
        width: 1665px;
    }
}