.log-cont-flex{
    display: inline-flex;
    background-color: #fff;
    height: 81px;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2px;

    box-shadow: 0px 4px 15px rgb(202 193 193 / 45%);
}